*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}html,body{
    height: 100%;
    width: 100%;
}.main{
    height: 100%;
    width: 100%;
    background-image: url( https://img.freepik.com/premium-photo/sunset-view-airplane-airport-runway-dramatic-sky_666746-1850.jpg);
    background-size: cover;

}.left{
    width: 80%;
    height: 80%;
    border: 2px solid white;
    box-shadow: 2px 2px 2px white;
    padding-left: 20%;
    padding-top: 4%;
  
    margin-left:  5%;
}h1{
    font-size: 60px;

}p{
    margin-top: 3%;
}h3{
    margin-top: 2%;
}button{
margin-left: 10%;
margin-top: 3%;
width: 30%;
height: 8%;
font-size: 15px;
border-radius: 50px;
}